body {
  font-size: 16px; }

* {
  padding: 0;
  margin: 0; }

.w {
  width: 1232px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.dn {
  display: none; }

.di {
  display: inline-block; }

.hide {
  display: none; }

.show {
  display: block; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.sprite, #container .rightCon .rigthBottom .update {
  background-image: url(../imgs/asset/assetLeft/leftTree.png);
  background-repeat: no-repeat; }

.sprite-down {
  width: 10px;
  height: 6px;
  background-position: -5px -5px; }

.sprite-icon1 {
  width: 26px;
  height: 26px;
  background-position: -25px -5px; }

.sprite-icon1-1 {
  width: 26px;
  height: 26px;
  background-position: -61px -5px; }

.sprite-icon11 {
  width: 23px;
  height: 23px;
  background-position: -97px -5px; }

.sprite-icon11-2 {
  width: 23px;
  height: 23px;
  background-position: -130px -5px; }

.sprite-icon11-3 {
  width: 23px;
  height: 23px;
  background-position: -163px -5px; }

.sprite-icon12 {
  width: 23px;
  height: 23px;
  background-position: -97px -38px; }

.sprite-icon12-2 {
  width: 23px;
  height: 23px;
  background-position: -130px -38px; }

.sprite-icon12-3 {
  width: 23px;
  height: 23px;
  background-position: -163px -38px; }

.sprite-icon13 {
  width: 23px;
  height: 23px;
  background-position: -5px -71px; }

.sprite-icon13-2 {
  width: 23px;
  height: 23px;
  background-position: -38px -71px; }

.sprite-icon13-3 {
  width: 23px;
  height: 23px;
  background-position: -71px -71px; }

.sprite-icon14 {
  width: 23px;
  height: 23px;
  background-position: -104px -71px; }

.sprite-icon14-2 {
  width: 23px;
  height: 23px;
  background-position: -137px -71px; }

.sprite-icon14-3 {
  width: 23px;
  height: 23px;
  background-position: -170px -71px; }

.sprite-icon15 {
  width: 23px;
  height: 23px;
  background-position: -5px -104px; }

.sprite-icon15-2 {
  width: 23px;
  height: 23px;
  background-position: -38px -104px; }

.sprite-icon15-3 {
  width: 23px;
  height: 23px;
  background-position: -71px -104px; }

.sprite-icon16 {
  width: 23px;
  height: 23px;
  background-position: -104px -104px; }

.sprite-icon16-2 {
  width: 23px;
  height: 23px;
  background-position: -137px -104px; }

.sprite-icon16-3 {
  width: 23px;
  height: 23px;
  background-position: -170px -104px; }

.sprite-icon2 {
  width: 26px;
  height: 26px;
  background-position: -5px -137px; }

.sprite-icon2-2 {
  width: 26px;
  height: 26px;
  background-position: -41px -137px; }

.sprite-icon21 {
  width: 23px;
  height: 23px;
  background-position: -77px -137px; }

.sprite-icon21-2 {
  width: 23px;
  height: 23px;
  background-position: -110px -137px; }

.sprite-icon21-3 {
  width: 23px;
  height: 23px;
  background-position: -143px -137px; }

.sprite-icon22 {
  width: 23px;
  height: 23px;
  background-position: -77px -170px; }

.sprite-icon22-2 {
  width: 23px;
  height: 23px;
  background-position: -110px -170px; }

.sprite-icon22-3 {
  width: 23px;
  height: 23px;
  background-position: -143px -170px; }

.sprite-icon23 {
  width: 23px;
  height: 23px;
  background-position: -196px -5px; }

.sprite-icon23-2 {
  width: 23px;
  height: 23px;
  background-position: -196px -38px; }

.sprite-icon23-3 {
  width: 23px;
  height: 23px;
  background-position: -203px -71px; }

.sprite-icon24 {
  width: 23px;
  height: 23px;
  background-position: -203px -104px; }

.sprite-icon24-2 {
  width: 23px;
  height: 23px;
  background-position: -176px -137px; }

.sprite-icon24-3 {
  width: 23px;
  height: 23px;
  background-position: -176px -170px; }

.sprite-lastNode {
  width: 5px;
  height: 5px;
  background-position: -5px -38px; }

.sprite-right {
  width: 5px;
  height: 6px;
  background-position: -209px -137px; }

.sprite-rightNull {
  width: 5px;
  height: 6px;
  background-position: -209px -153px; }

.sprite-up {
  width: 10px;
  height: 6px;
  background-position: -209px -169px; }

.sprite, #container .rightCon .rigthBottom .update {
  background-image: url(../imgs/asset/asset.png);
  background-repeat: no-repeat; }

.sprite-add {
  width: 12px;
  height: 12px;
  background-position: -2px -2px; }

.sprite-ascClick {
  width: 30px;
  height: 25px;
  background-position: -18px -2px; }

.sprite-ascNoClick {
  width: 30px;
  height: 25px;
  background-position: -52px -2px; }

.sprite-back {
  width: 6px;
  height: 13px;
  background-position: -86px -2px; }

.sprite-btnLeftClick {
  width: 8px;
  height: 10px;
  background-position: -96px -2px; }

.sprite-btnLeftNoClick {
  width: 8px;
  height: 10px;
  background-position: -108px -2px; }

.sprite-btnRightNoClick {
  width: 8px;
  height: 10px;
  background-position: -120px -2px; }

.sprite-btnRightClick {
  width: 8px;
  height: 10px;
  background-position: -132px -2px; }

.sprite-check {
  width: 11px;
  height: 11px;
  background-position: -96px -16px; }

.sprite-checked {
  width: 11px;
  height: 11px;
  background-position: -111px -16px; }

.sprite-desClick {
  width: 31px;
  height: 25px;
  background-position: -2px -31px; }

.sprite-desNoClick {
  width: 31px;
  height: 25px;
  background-position: -37px -31px; }

.sprite-drapDown {
  width: 7px;
  height: 4px;
  background-position: -126px -16px; }

.sprite-icon1 {
  width: 18px;
  height: 60px;
  background-position: -126px -24px; }

.sprite-icon1-hover {
  width: 18px;
  height: 60px;
  background-position: -148px -2px; }

.sprite-icon2 {
  width: 18px;
  height: 60px;
  background-position: -2px -66px; }

.sprite-icon2-hover {
  width: 18px;
  height: 60px;
  background-position: -24px -66px; }

.sprite-icon3 {
  width: 18px;
  height: 60px;
  background-position: -46px -66px; }

.sprite-icon3-hover {
  width: 18px;
  height: 60px;
  background-position: -68px -66px; }

.sprite-icon4 {
  width: 18px;
  height: 60px;
  background-position: -90px -66px; }

.sprite-icon4-hover {
  width: 18px;
  height: 60px;
  background-position: -148px -66px; }

.sprite-import {
  width: 19px;
  height: 16px;
  background-position: -112px -88px; }

.sprite-leftClick {
  width: 18px;
  height: 18px;
  background-position: -2px -130px; }

.sprite-leftNotClick {
  width: 18px;
  height: 18px;
  background-position: -24px -130px; }

.sprite-out {
  width: 18px;
  height: 16px;
  background-position: -46px -130px; }

.sprite-rightChange {
  width: 3px;
  height: 6px;
  background-position: -112px -66px; }

.sprite-rightClick_03 {
  width: 18px;
  height: 18px;
  background-position: -68px -130px; }

.sprite-rightNoClick {
  width: 18px;
  height: 18px;
  background-position: -90px -130px; }

.sprite-search {
  width: 14px;
  height: 14px;
  background-position: -112px -130px; }

.sprite-staChange {
  width: 6px;
  height: 3px;
  background-position: -130px -130px; }

.sprite-staChange-hover {
  width: 6px;
  height: 3px;
  background-position: -140px -130px; }

.sprite-titleDown {
  width: 7px;
  height: 4px;
  background-position: -150px -130px; }

.sprite-update, #container .rightCon .rigthBottom .update {
  width: 23px;
  height: 23px;
  background-position: -130px -138px; }

#container {
  height: 723px;
  background: #e2e7f1;
  box-shadow: 0 0 10px #ccc; }
  #container .rightCon {
    height: 723px;
    width: 990px;
    margin-top: 9px; }
    #container .rightCon .r-title {
      height: 35px;
      line-height: 35px;
      background: #fff;
      text-align: center;
      font-size: 14px;
      color: #696969;
      margin-bottom: 10px; }
    #container .rightCon .rigthBottom .echart-1, #container .rightCon .rigthBottom .echart-2 {
      width: 490px;
      height: 308px;
      background: #fff;
      position: relative; }
    #container .rightCon .rigthBottom .echart-3 {
      height: 347px;
      background: #fff;
      width: 100%;
      margin-top: 13px;
      position: relative; }
    #container .rightCon .rigthBottom .update {
      position: absolute;
      z-index: 10;
      top: 15px;
      right: 15px;
      cursor: pointer; }

/*# sourceMappingURL=asset.css.map */
