.sprite {
  background-image: url(../imgs/asset/assetLeft/leftTree.png);
  background-repeat: no-repeat; }

.sprite-down {
  width: 10px;
  height: 6px;
  background-position: -5px -5px; }

.sprite-icon1 {
  width: 26px;
  height: 26px;
  background-position: -25px -5px; }

.sprite-icon1-1 {
  width: 26px;
  height: 26px;
  background-position: -61px -5px; }

.sprite-icon11 {
  width: 23px;
  height: 23px;
  background-position: -97px -5px; }

.sprite-icon11-2 {
  width: 23px;
  height: 23px;
  background-position: -130px -5px; }

.sprite-icon11-3 {
  width: 23px;
  height: 23px;
  background-position: -163px -5px; }

.sprite-icon12 {
  width: 23px;
  height: 23px;
  background-position: -97px -38px; }

.sprite-icon12-2 {
  width: 23px;
  height: 23px;
  background-position: -130px -38px; }

.sprite-icon12-3 {
  width: 23px;
  height: 23px;
  background-position: -163px -38px; }

.sprite-icon13 {
  width: 23px;
  height: 23px;
  background-position: -5px -71px; }

.sprite-icon13-2 {
  width: 23px;
  height: 23px;
  background-position: -38px -71px; }

.sprite-icon13-3 {
  width: 23px;
  height: 23px;
  background-position: -71px -71px; }

.sprite-icon14 {
  width: 23px;
  height: 23px;
  background-position: -104px -71px; }

.sprite-icon14-2 {
  width: 23px;
  height: 23px;
  background-position: -137px -71px; }

.sprite-icon14-3 {
  width: 23px;
  height: 23px;
  background-position: -170px -71px; }

.sprite-icon15 {
  width: 23px;
  height: 23px;
  background-position: -5px -104px; }

.sprite-icon15-2 {
  width: 23px;
  height: 23px;
  background-position: -38px -104px; }

.sprite-icon15-3 {
  width: 23px;
  height: 23px;
  background-position: -71px -104px; }

.sprite-icon16 {
  width: 23px;
  height: 23px;
  background-position: -104px -104px; }

.sprite-icon16-2 {
  width: 23px;
  height: 23px;
  background-position: -137px -104px; }

.sprite-icon16-3 {
  width: 23px;
  height: 23px;
  background-position: -170px -104px; }

.sprite-icon2 {
  width: 26px;
  height: 26px;
  background-position: -5px -137px; }

.sprite-icon2-2 {
  width: 26px;
  height: 26px;
  background-position: -41px -137px; }

.sprite-icon21 {
  width: 23px;
  height: 23px;
  background-position: -77px -137px; }

.sprite-icon21-2 {
  width: 23px;
  height: 23px;
  background-position: -110px -137px; }

.sprite-icon21-3 {
  width: 23px;
  height: 23px;
  background-position: -143px -137px; }

.sprite-icon22 {
  width: 23px;
  height: 23px;
  background-position: -77px -170px; }

.sprite-icon22-2 {
  width: 23px;
  height: 23px;
  background-position: -110px -170px; }

.sprite-icon22-3 {
  width: 23px;
  height: 23px;
  background-position: -143px -170px; }

.sprite-icon23 {
  width: 23px;
  height: 23px;
  background-position: -196px -5px; }

.sprite-icon23-2 {
  width: 23px;
  height: 23px;
  background-position: -196px -38px; }

.sprite-icon23-3 {
  width: 23px;
  height: 23px;
  background-position: -203px -71px; }

.sprite-icon24 {
  width: 23px;
  height: 23px;
  background-position: -203px -104px; }

.sprite-icon24-2 {
  width: 23px;
  height: 23px;
  background-position: -176px -137px; }

.sprite-icon24-3 {
  width: 23px;
  height: 23px;
  background-position: -176px -170px; }

.sprite-lastNode {
  width: 5px;
  height: 5px;
  background-position: -5px -38px; }

.sprite-right {
  width: 5px;
  height: 6px;
  background-position: -209px -137px; }

.sprite-rightNull {
  width: 5px;
  height: 6px;
  background-position: -209px -153px; }

.sprite-up {
  width: 10px;
  height: 6px;
  background-position: -209px -169px; }

/*# sourceMappingURL=lefttree.css.map */
