*{
  margin: 0;
  padding:0;
  font-size: 16px;
}
ul,ol{
  list-style: none;
}
.wrapper{
  width: 100%;
  height: auto;
}
.modal-body-reqCon{
  /*width: 1080px;*/
  max-width: 1080px;
  min-width: 760px;
  width: 100%;
  margin:20px auto 0px;
}
.modal-body-reqCon .modal-body-everyItem{
    border-top: 1px dashed #e7e7e7;
    padding-bottom: 10px;
}

.modal-body-reqCon p.event-details-title{
  /*font-size: 16px;*/
  font-size: 20px;
  padding: 14px 0 6px 0;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}
.modal-body-reqCon .line{
  /*font-size: 20px;*/
}
.modal-body-reqCon .line p{
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}
.modal-body-reqCon .line-title{
  /*padding-left: 40px;*/
  display: block !important;
}
.modal-body-reqCon .line .left-itemTitle,.modal-body-reqCon .line .right-itemTitle{
  /*width: 120px;*/
  width: 16%;
  text-align: right;
  color: #9c9c9c;
  vertical-align: top;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}
.modal-body-reqCon .line .printData{
  padding-left: 10px;
  /*width: 411px;*/
  width: 32%;
}
.modal-body-reqCon .line .printEventDescribe{
  width: 100%;
  padding-left: 75px;
}
.modal-body-reqCon table{
  width: 95%;
  margin: 0 auto;
}
table .firstCol{
  width:300px;
}
table .firstCol-right p span{
  display: inline-block;
  vertical-align: top;
}
table .firstCol-right p span:first-child{
  width: 30%;
}
table .firstCol-right p span:nth-child(2){
  width: 70%;
}
table .event-log-tableRow td{
  width: 14%;
}
table .event-log-tableRow .firstCol{
  min-width: 285px;
}
.btnPrint{
  text-align: center;
}
button{
    width: 55px;
    height: 22px;
    background-color: #054c9c;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    margin: 30px auto;
    outline: none;
}

.modal-body-everyItem .event-details-description{
  text-indent: 30px;
  margin:0 0 5px;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}
#eventConver p{
  display: inline-block;
  vertical-align: top;
}
#eventConver .itemTitle{
  /*width: 120px;*/
  width: 16%;
  text-align: right;
  color:#9c9c9c;
}
#eventConver .printData{
  /*width: 930px;*/
  width: 82%;
}
#eventConver .printData span:nth-child(2){
  float: right;
  color:#9c9c9c;
}
