.sprite, .rightCon .rightCon-up .rightCon-sortWarp .rightCon-sort, .rightCon .rightCon-up .rightCon-up-center .input-group .rightCon-up-center-search, .rightCon .rightCon-up .rightCon-page .rightCon-page-left, .rightCon .rightCon-up .rightCon-page .rightCon-page-left.active, .rightCon .rightCon-up .rightCon-page .rightCon-page-right.active, .rightCon .rightCon-up .rightCon-page .rightCon-page-right, .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .in-out i, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .table-asset-down, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-1 .checked, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-1 .checked.active, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type, .rightCon .rightCon-bottom .pageChange .pageChange-span-up, .rightCon .rightCon-bottom .pageChange .pageChange-span-up.active, .rightCon .rightCon-bottom .pageChange .pageChange-span-down.active, .rightCon .rightCon-bottom .pageChange .pageChange-span-down {
  background-image: url(../imgs/asset/asset.png);
  background-repeat: no-repeat; }

.sprite-add {
  width: 12px;
  height: 12px;
  background-position: -2px -2px; }

.sprite-ascClick, .rightCon .rightCon-up .rightCon-sortWarp .rightCon-sort-asc.active {
  width: 30px;
  height: 25px;
  background-position: -18px -2px; }

.sprite-ascNoClick, .rightCon .rightCon-up .rightCon-sortWarp .rightCon-sort-asc {
  width: 30px;
  height: 25px;
  background-position: -52px -2px; }

.sprite-back {
  width: 6px;
  height: 13px;
  background-position: -86px -2px; }

.sprite-btnLeftClick, .rightCon .rightCon-bottom .pageChange .pageChange-span-up.active {
  width: 8px;
  height: 10px;
  background-position: -96px -2px; }

.sprite-btnLeftNoClick, .rightCon .rightCon-bottom .pageChange .pageChange-span-up {
  width: 8px;
  height: 10px;
  background-position: -108px -2px; }

.sprite-btnRightNoClick, .rightCon .rightCon-bottom .pageChange .pageChange-span-down {
  width: 8px;
  height: 10px;
  background-position: -120px -2px; }

.sprite-btnRightClick, .rightCon .rightCon-bottom .pageChange .pageChange-span-down.active {
  width: 8px;
  height: 10px;
  background-position: -132px -2px; }

.sprite-check, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-1 .checked {
  width: 11px;
  height: 11px;
  background-position: -96px -16px; }

.sprite-checked, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-1 .checked.active {
  width: 11px;
  height: 11px;
  background-position: -111px -16px; }

.sprite-desClick, .rightCon .rightCon-up .rightCon-sortWarp .rightCon-sort-des.active {
  width: 31px;
  height: 25px;
  background-position: -2px -31px; }

.sprite-desNoClick, .rightCon .rightCon-up .rightCon-sortWarp .rightCon-sort-des {
  width: 31px;
  height: 25px;
  background-position: -37px -31px; }

.sprite-drapDown, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .table-asset-down {
  width: 7px;
  height: 4px;
  background-position: -126px -16px; }

.sprite-icon1, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type.hardware {
  width: 18px;
  height: 60px;
  background-position: -126px -24px; }

.sprite-icon1-hover, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type.hardware.active {
  width: 18px;
  height: 60px;
  background-position: -148px -2px; }

.sprite-icon2, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type.softword {
  width: 18px;
  height: 60px;
  background-position: -2px -66px; }

.sprite-icon2-hover, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type.softword.active {
  width: 18px;
  height: 60px;
  background-position: -24px -66px; }

.sprite-icon3, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type.test {
  width: 18px;
  height: 60px;
  background-position: -46px -66px; }

.sprite-icon3-hover, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type.test.active {
  width: 18px;
  height: 60px;
  background-position: -68px -66px; }

.sprite-icon4, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type.other {
  width: 18px;
  height: 60px;
  background-position: -90px -66px; }

.sprite-icon4-hover, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type.other.active {
  width: 18px;
  height: 60px;
  background-position: -148px -66px; }

.sprite-import, .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .import i {
  width: 19px;
  height: 16px;
  background-position: -112px -88px; }

.sprite-leftClick, .rightCon .rightCon-up .rightCon-page .rightCon-page-left.active {
  width: 18px;
  height: 18px;
  background-position: -2px -130px; }

.sprite-leftNotClick, .rightCon .rightCon-up .rightCon-page .rightCon-page-left {
  width: 18px;
  height: 18px;
  background-position: -24px -130px; }

.sprite-out, .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .export i {
  width: 18px;
  height: 16px;
  background-position: -46px -130px; }

.sprite-rightChange {
  width: 3px;
  height: 6px;
  background-position: -112px -66px; }

.sprite-rightClick_03, .rightCon .rightCon-up .rightCon-page .rightCon-page-right.active {
  width: 18px;
  height: 18px;
  background-position: -68px -130px; }

.sprite-rightNoClick, .rightCon .rightCon-up .rightCon-page .rightCon-page-right {
  width: 18px;
  height: 18px;
  background-position: -90px -130px; }

.sprite-search, .rightCon .rightCon-up .rightCon-up-center .input-group .rightCon-up-center-search {
  width: 14px;
  height: 14px;
  background-position: -112px -130px; }

.sprite-staChange {
  width: 6px;
  height: 3px;
  background-position: -130px -130px; }

.sprite-staChange-hover {
  width: 6px;
  height: 3px;
  background-position: -140px -130px; }

.sprite-titleDown {
  width: 7px;
  height: 4px;
  background-position: -150px -130px; }

.sprite-update {
  width: 23px;
  height: 23px;
  background-position: -130px -138px; }

body {
  outline: none !important;
  filter: chroma(color=#000000); }

.rightCon {
  height: 990px;
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid #e5e5e5;
  background-color: #fff; }
  .rightCon .rightCon-up .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 115px; }
  .rightCon .rightCon-up .btn-default:hover, .rightCon .rightCon-up .btn-default:focus, .rightCon .rightCon-up .btn-default.focus, .rightCon .rightCon-up .btn-default:active, .rightCon .rightCon-up .btn-default.active, .rightCon .rightCon-up .open > .dropdown-toggle.btn-default {
    color: #696969;
    background-color: #fff !important;
    border-color: #bfbfbf; }
  .rightCon .rightCon-up .rightCon-up-left {
    outline: none; }
    .rightCon .rightCon-up .rightCon-up-left .btn {
      padding: 0;
      font-size: 12px;
      color: #696969;
      height: 25px;
      line-height: 25px;
      border: 1px solid #bfbfbf;
      outline: none; }
    .rightCon .rightCon-up .rightCon-up-left .filter-option {
      margin-left: 8px;
      width: auto; }
    .rightCon .rightCon-up .rightCon-up-left .dropdown-menu.open {
      max-height: 150px !important; }
    .rightCon .rightCon-up .rightCon-up-left ul.dropdown-menu.inner {
      max-height: 150px !important; }
      .rightCon .rightCon-up .rightCon-up-left ul.dropdown-menu.inner li, .rightCon .rightCon-up .rightCon-up-left ul.dropdown-menu.inner a {
        font-size: 12px;
        color: #696969; }
      .rightCon .rightCon-up .rightCon-up-left ul.dropdown-menu.inner li:hover, .rightCon .rightCon-up .rightCon-up-left ul.dropdown-menu.inner a:hover, .rightCon .rightCon-up .rightCon-up-left ul.dropdown-menu.inner li.selected a {
        background-color: #054c9c;
        color: #fff; }
    .rightCon .rightCon-up .rightCon-up-left .dropdown-menu {
      padding: 0; }
  .rightCon .rightCon-up .rightCon-sortWarp {
    margin-left: 16px; }
    .rightCon .rightCon-up .rightCon-sortWarp .rightCon-sort {
      cursor: pointer; }
  .rightCon .rightCon-up .rightCon-up-center {
    width: 280px;
    margin-left: 215px; }
    .rightCon .rightCon-up .rightCon-up-center .input-group .rightCon-up-center-search {
      z-index: 3;
      position: absolute;
      top: 6px;
      left: 5px; }
    .rightCon .rightCon-up .rightCon-up-center .input-group input {
      border: 1px solid #bfbfbf;
      text-indent: 10px;
      font-size: 12px;
      color: #9c9c9c;
      height: 25px;
      line-height: 2px; }
  .rightCon .rightCon-up .rightCon-page {
    font-size: 12px;
    color: #696969; }
    .rightCon .rightCon-up .rightCon-page .rightCon-page-count {
      margin-right: 12px; }
    .rightCon .rightCon-up .rightCon-page .rightCon-page-left {
      cursor: pointer;
      vertical-align: bottom; }
    .rightCon .rightCon-up .rightCon-page .rightCon-page-left.active {
      cursor: pointer;
      vertical-align: bottom; }
    .rightCon .rightCon-up .rightCon-page .rightCon-page-right.active {
      cursor: pointer;
      vertical-align: bottom; }
    .rightCon .rightCon-up .rightCon-page .rightCon-page-right {
      cursor: pointer;
      vertical-align: bottom; }
  .rightCon .rightCon-bottom {
    width: 930px;
    height: 948px; }
    .rightCon .rightCon-bottom .rightCon-bottom-con {
      width: 931px;
      height: 787px;
      margin: 0 auto;
      border: 1px solid #bfbfbf;
      border-radius: 3px; }
      .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate {
        height: 46px;
        background-color: #eef1f7; }
        .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .bto {
          margin: 10px 0 0 16px;
          border: 1px solid #9c9c9c;
          height: 26px;
          padding-left: 7px;
          padding-right: 7px;
          color: #9c9c9c;
          font-size: 12px;
          border-radius: 3px;
          outline: none; }
        .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .bto.default {
          background-color: #eef1f7; }
        .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .bto.active {
          background-color: #054c9c;
          color: #fff;
          border: none; }
        .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .in-out {
          cursor: pointer;
          width: 50px;
          font-size: 12px;
          color: #172d5f;
          line-height: 46px; }
          .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .in-out i {
            vertical-align: sub;
            margin-right: 6px; }
        .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .export {
          margin-right: 25px; }
        .rightCon .rightCon-bottom .rightCon-bottom-con .rightCon-bottom-operate .import {
          margin-right: 15px; }
      .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap {
        width: 929px;
        height: 740px; }
        .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow {
          width: 100%;
          height: 73px;
          padding-left: 17px;
          border-top: 1px solid #e5e5e5;
          color: #696969;
          cursor: pointer;
          padding-top: 2px; }
          .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol p {
            line-height: 20px;
            font-size: 12px; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol p span:first-child {
              vertical-align: text-bottom; }
          .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-1 {
            width: 35px;
            position: relative; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-1 .checked {
              position: absolute;
              top: -30px; }
          .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-2 {
            width: 605px; }
          .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 {
            width: 85px;
            height: 60px;
            position: relative; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableRow-status {
              border: none;
              width: 55px;
              text-align: center;
              height: 24px;
              margin-top: 22px;
              border-radius: 5px;
              color: #fff;
              font-size: 12px;
              position: absolute;
              top: -52px; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-3 .tableCol-type {
              position: absolute;
              right: 5px;
              top: 3px; }
          .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 {
            width: 174px;
            position: relative; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .btn-group.open .dropdown-toggle {
              -webkit-box-shadow: none;
              box-shadow: none; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .bootstrap-select .dropdown-toggle:focus {
              outline: none !important;
              outline: none !important;
              outline-offset: 0; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .btn-default, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .btn-default:focus {
              background-color: #fff; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .btn-default:active {
              border: none; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .btn-default.focus, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .btn-default:active {
              border: none;
              background-color: #aad1ff; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .dropdown-menu {
              width: 65px;
              left: -10px;
              padding: 0;
              border-radius: 0;
              overflow: hidden; }
              .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .dropdown-menu li {
                color: #696969; }
                .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .dropdown-menu li a {
                  text-indent: 0; }
                .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .dropdown-menu li a:focus, .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .dropdown-menu li a:hover {
                  background-color: #054c9c;
                  color: #fff;
                  border: none; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .table-asset-status {
              border: none;
              border-radius: 3px;
              position: absolute;
              padding: 3px 5px;
              right: 20px;
              top: 23px;
              z-index: 10;
              background-color: #054c9c;
              font-size: 12px;
              color: #fff; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .tableCol4-3 {
              position: relative; }
              .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .tableCol4-3 input {
                width: 60px;
                display: inline-block;
                border: none;
                vertical-align: baseline; }
              .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow .tableCol-4 .tableCol4-3 .table-asset-down {
                position: absolute;
                top: 8px; }
          .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow:hover {
            background-color: #aad1ff;
            color: #fff; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow:hover .btn {
              color: #fff;
              background: #aad1ff; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow:hover input {
              background-color: #aad1ff;
              color: #fff; }
            .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow:hover .btn-default:focus {
              background-color: #aad1ff; }
        .rightCon .rightCon-bottom .rightCon-bottom-con .tableWrap .tableRow:last-child {
          border-bottom: 1px solid #e5e5e5; }
    .rightCon .rightCon-bottom .pageChange {
      width: 380px;
      margin: 0 auto;
      height: 40px;
      margin-top: 22px; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span {
        border: 1px solid #bfbfbf;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 12px; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span1, .rightCon .rightCon-bottom .pageChange .pageChange-span3 {
        width: 60px; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span1, .rightCon .rightCon-bottom .pageChange .pageChange-span2 {
        margin-right: 17px; }
      .rightCon .rightCon-bottom .pageChange .txt {
        font-size: 12px;
        margin: 0 8px; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span2, .rightCon .rightCon-bottom .pageChange .pageChange-span4 {
        width: 25px; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span5 {
        width: 37px; }
      .rightCon .rightCon-bottom .pageChange #goPageId {
        cursor: pointer; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span-up {
        vertical-align: middle;
        margin-right: 4px; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span-up.active {
        vertical-align: middle;
        margin-right: 4px; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span-down.active {
        vertical-align: middle;
        margin-left: 4px; }
      .rightCon .rightCon-bottom .pageChange .pageChange-span-down {
        vertical-align: middle;
        margin-left: 4px; }

.input-group .form-control:last-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.tableRow-status-paul {
  background-color: #7fca8f; }

.tableRow-status-overPro {
  background-color: #e28181; }

.tableRow-status-unknown {
  background-color: #86a1e0; }

.tableRow-status-soonOverPro {
  background-color: #f2cd58; }

.btn {
  padding: 0;
  margin: 0; }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: auto; }

#tableWrap .btn {
  border: none;
  font-size: 12px; }

/*# sourceMappingURL=table.css.map */
